html {
	background: var(--secondary-green);
}
.App {
	text-align: center;
}

.mainBtn {
	padding: 10px;
	background: var(--main-orange);
	border-radius: 5px;
	color: var(--font-main);
	cursor: pointer;
	transition: background 300ms;
	user-select: none;
}

.mainBtn:hover {
	background: var(--strong-orange);
}

.secBtn {
	padding: 10px;
	background: var(--secondary-green);
	border-radius: 5px;
	color: var(--font-main);
	cursor: pointer;
	transition: background 300ms;
	user-select: none;
}

.secBtn:hover {
	background: var(--primary-green);
}
* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
