html {
	background: var(--secondary-green);
}
.App {
	text-align: center;
}

.mainBtn {
	padding: 10px;
	background: var(--light-orange);
	border-radius: 5px;
	color: var(--font-main);
	cursor: pointer;
	transition: background 300ms;
}

.mainBtn:hover {
	background: var(--strong-orange);
}

.secBtn {
	padding: 10px;
	background: var(--secondary-green);
	border-radius: 5px;
	color: var(--font-main);
	cursor: pointer;
	transition: background 300ms;
}

.secBtn:hover {
	background: var(--primary-green);
}
