.cardsContainer {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
	margin-inline: auto;
	max-width: 1120px;
}
.link {
	color: var(--font-main);
	text-decoration: none;
}
