.landing {
	height: 100vh;
	background-image: url('https://i.pinimg.com/originals/b4/f0/92/b4f092523a7659c96ecdadcf33e57814.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: var(--background-main);
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
}

.goHome {
	color: var(--font-main);
	background: rgba(255, 255, 255, 0.3);
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
	border-radius: 15px;
	transition: background 300ms;
	overflow: hidden;
	transform: translateZ(0);
}

.goHome:hover {
	/* background: rgba(255, 255, 255, 0.8); */
}

.goHome:before {
	content: '';
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 100%;
	transform: scale(0);
	transition: all 200ms;
}

.goHome:hover:before {
	transform: scale(2);
}
