.pagination {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: var(--light-orange);
	width: 300px;
	padding: 10px;
	border-radius: 40px;
	animation-name: apareceSinSombra;
	animation-duration: 1s;
	border-bottom: 2px solid var(--strong-orange);
}

.circular {
	border-radius: 50%;
	font-size: 30px;
	font-weight: bold;
	line-height: 35px;
	padding: 0px;
	height: 40px;
	width: 40px;
}

.disabled {
	pointer-events: none;
	background: var(--disabled-orange);
}

.textPagination {
	font-weight: 600;
}
