@import url('https://fonts.googleapis.com/css2?family=DynaPuff&display=swap');
.details {
	height: 80vh;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	align-items: center;
}
.detailsBox {
	display: flex;
	width: 800px;
	height: 350px;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: nowrap;
	gap: 40px;
	text-align: left;
	background: var(--light-orange);
	padding: 10px;
	border-radius: 30px;
}
.detailsBoxBox {
	background: var(--light-orange);
	padding: 10px;
	border-radius: 30px;
	box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.75);
	animation-name: apareceSinSombra;
	animation-duration: 1s;
}
.imgDetails {
	width: auto;
	height: auto;
	max-width: 300px;
	max-height: 270px;
}

.detailComponent {
	background: var(--main-orange);
	padding: 10px;
	border-radius: 30px;
	font-weight: 600;
}
.borderDescription {
	border-radius: 15px;
}

.borderDescription p {
	margin-bottom: 0.6rem;
}

.detailComponent li {
	list-style: none;
}

.detailsBoxBox h1 {
	font-family: 'DynaPuff', cursive;
}
